body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    width: 15rem;
    height: 10rem;
    background-color: rgb(139, 24, 24);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-top: 180px;
    margin: 0px 10px 0px 0px;
}
.btn:hover{
    background-color: rgb(234, 7, 7);
}

